<nav id="main-menu-mobile" class="main-menu-mobile" aria-label="Mobile" aria-hidden="true" inert>
{% assign mainmenu = site.data.menus.main | sort: 'weight' %}
  <ul>
{% for item in mainmenu %}
    <li class="{{ item.class }}{% if item.url == page.url %} active{% endif %}">
      <a href="{{ item.url | relative_url }}"{% if item.url == page.url %} aria-current="page"{% endif %}>{{ item.name }}{% if item.badge %} <span class="nav-badge">{{ item.badge }}</span>{% endif %}</a>
    </li>
{% endfor %}
  </ul>
</nav>
