<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
{% if site.data.social %}
{% include social.html %}
{% endif %}
{% assign copyright_start_year = site.footer.copyright_start_year | default: 2016 %}
          <div class="copyright">&copy; {{ copyright_start_year }}-{{ site.time | date: "%Y" }} Boston Children's Hospital and University of Pittsburgh</div>
        </div>
      </div>
    </div>
  </div>
</div>
